-b -5 -d 10 -f "Melee Master|Your Pokemon is a master of close combat. Gain advantage on all attacks of opportunity. Before you make a melee attack, you can choose to take a -5 penalty to the attack roll. If the attack hits, you add +10 to the attack’s damage (Once per move)."
