-b -5 -d 10 -f "Ranged Master|Your Pokemon is a sharpshooter. Your ranged attacks ignore half and three-fourths cover, Before you make a ranged attack, you can choose to take a -5 penalty to the attack roll. If the attack hits, you add +10 to the attack’s damage (Once per move)."
