-d1 "{{"5" if level>18 else("4" if level>14 else ("3" if level>10 else( "2" if level>6 else("1" if level>2 else 0))))}}" -f "Same Type Attack Bonus (STAB)|Your Pokémon gains a bonus to damage rolls when it uses an attack move type that is the same as their Pokémon type. STAB may only be added once per move, even for moves that deal damage over time like Leech Seed, Poison Gas, etc. This bonus increases as the Pokémon levels up."
