{{v=character().get_cc("Defiant")}}{{f'-b1 1d4' if v else f'-f "You must complete a short or long rest before you can use your Defiant feature again"'}} {{f'-f "Defiant|Humans are known to be stubborn and often refuse to give up, even against the worst odds. When you or a creature you can see that can see and understand you makes an ability check, attack roll, or saving throw, you can roll a d4 and add it to their roll (no action required). You can use this before or after the roll, but before the GM determines the roll’s outcome."' if v else ''}} {{character().mod_cc("Defiant", -1) if v else ''}} {{f'-f "Defiant (-1)|{character().cc_str("Defiant")}"' if v else ''}}
